.aderiscianchetu img {
    opacity: 50%;
    cursor:pointer;
}


header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url(../imgs/DBC_2_1930x1000.png);
    /* background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../imgs/DBC_2_1930x1000.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/* cover mobile */

@media (max-width: 575.98px) {
header.masthead {
    padding-top: 39rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url(../imgs/DBC_Mobile_320x640.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
  }


/* font MEDIuM LIKE */




#lettera {
  padding-top: 3rem !important;
}


#lettera p {
    margin-top: 2em;
    letter-spacing: -0.003em;
    line-height: 32px;
    font-size: 21px;
    margin-bottom: -0.46em;
    letter-spacing: -0.004em;
    line-height: 1.58;
    font-style: normal;
    word-break: break-word;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
}

.modal-body {
    text-align: left !important;
}

#partners-container {
    align-items: center;
}
